@charset "UTF-8";

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Black.woff2") format("woff2"), url("../fonts/Inter-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Open Sans";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Open Sans";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.section__info {
  max-width: 40rem;
  text-align: center;
  margin: 0 auto;
}

.section__title {
  font-family: "Inter";
  font-weight: 700;
  letter-spacing: 0.3125rem;
  margin-bottom: 1rem;
}

@supports (font-size: clamp( 2.25rem , 2.0040983607rem  +  1.2295081967vw , 3rem )) {
  .section__title {
    font-size: clamp( 2.25rem , 2.0040983607rem  +  1.2295081967vw , 3rem );
  }
}

@supports not (font-size: clamp( 2.25rem , 2.0040983607rem  +  1.2295081967vw , 3rem )) {
  .section__title {
    font-size: calc(2.25rem + 0.75 * (100vw - 20rem) / 61);
  }
}

.section__subtitle {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  line-height: 130%;
}

.section__subtext {
  font-family: "OpenSans";
  font-weight: 400;
  line-height: 130%;
}

.button {
  padding: 12px 24px;
  border: 1px solid #000;
  background-color: #E0C424;
  text-transform: uppercase;
  border-radius: 1rem;
}

@supports (padding-top: clamp( 2.5rem , 1.8852459016rem  +  3.0737704918vw , 4.375rem )) {
  .py-section {
    padding-top: clamp( 2.5rem , 1.8852459016rem  +  3.0737704918vw , 4.375rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 1.8852459016rem  +  3.0737704918vw , 4.375rem )) {
  .py-section {
    padding-top: calc(2.5rem + 1.875 * (100vw - 20rem) / 61);
  }
}

@supports (padding-bottom: clamp( 2.5rem , 1.8852459016rem  +  3.0737704918vw , 4.375rem )) {
  .py-section {
    padding-bottom: clamp( 2.5rem , 1.8852459016rem  +  3.0737704918vw , 4.375rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.8852459016rem  +  3.0737704918vw , 4.375rem )) {
  .py-section {
    padding-bottom: calc(2.5rem + 1.875 * (100vw - 20rem) / 61);
  }
}

.bg-center {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@supports (padding: clamp( 1rem , 0.6721311475rem  +  1.6393442623vw , 2rem )) {
  .pp-card {
    padding: clamp( 1rem , 0.6721311475rem  +  1.6393442623vw , 2rem );
  }
}

@supports not (padding: clamp( 1rem , 0.6721311475rem  +  1.6393442623vw , 2rem )) {
  .pp-card {
    padding: calc(1rem + 1 * (100vw - 20rem) / 61);
  }
}

.br-1 {
  border-radius: 1rem;
}

.border-xy-3 {
  border: 3px solid #E0C424;
  border-radius: 1rem;
}

.border-xx00-3 {
  border: 3px solid #E0C424;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}

.border-0xxx-3 {
  border: 3px solid #E0C424;
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}

.card-title-1 {
  font-family: "Inter";
  font-weight: 700;
  line-height: 130%;
}

@supports (font-size: clamp( 1.875rem , 1.7520491803rem  +  0.6147540984vw , 2.25rem )) {
  .card-title-1 {
    font-size: clamp( 1.875rem , 1.7520491803rem  +  0.6147540984vw , 2.25rem );
  }
}

@supports not (font-size: clamp( 1.875rem , 1.7520491803rem  +  0.6147540984vw , 2.25rem )) {
  .card-title-1 {
    font-size: calc(1.875rem + 0.375 * (100vw - 20rem) / 61);
  }
}

@supports (padding-bottom: clamp( 1.875rem , 1.2602459016rem  +  3.0737704918vw , 3.75rem )) {
  .pb-15 {
    padding-bottom: clamp( 1.875rem , 1.2602459016rem  +  3.0737704918vw , 3.75rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.2602459016rem  +  3.0737704918vw , 3.75rem )) {
  .pb-15 {
    padding-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 61);
  }
}

.bg-center {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.no-webp .hero-01{
  background-image: url(../img/hero-01/1.jpg); }

.hero-01 {
  background-color: rgba(0, 0, 0, 0.5);
  /* Черный цвет с непрозрачностью 0.5 */
  background-blend-mode: multiply;
  /* Умножение цветов для затемнения */
  color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-01__container {
  min-height: calc(100vh - 5rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-01__info {
  max-width: 40rem;
  color: #fff;
  margin-left: 3.75rem;
}

.hero-01__title {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 6rem;
  margin-bottom: 2.5rem;
}

@supports (font-size: clamp( 3.125rem , 2.1823770492rem  +  4.7131147541vw , 6rem )) {
  .hero-01__title {
    font-size: clamp( 3.125rem , 2.1823770492rem  +  4.7131147541vw , 6rem );
  }
}

@supports not (font-size: clamp( 3.125rem , 2.1823770492rem  +  4.7131147541vw , 6rem )) {
  .hero-01__title {
    font-size: calc(3.125rem + 2.875 * (100vw - 20rem) / 61);
  }
}

.hero-01__subtitle {
  font-family: "OpenSans";
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 130%;
}

.hero-01__title span {
  color: #E0C424;
}

@supports (padding-top: clamp( 2.5rem , 1.8852459016rem  +  3.0737704918vw , 4.375rem )) {
  .title-01__inner {
    padding-top: clamp( 2.5rem , 1.8852459016rem  +  3.0737704918vw , 4.375rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 1.8852459016rem  +  3.0737704918vw , 4.375rem )) {
  .title-01__inner {
    padding-top: calc(2.5rem + 1.875 * (100vw - 20rem) / 61);
  }
}

@supports (padding-bottom: clamp( 2.5rem , 1.8852459016rem  +  3.0737704918vw , 4.375rem )) {
  .title-01__inner {
    padding-bottom: clamp( 2.5rem , 1.8852459016rem  +  3.0737704918vw , 4.375rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.8852459016rem  +  3.0737704918vw , 4.375rem )) {
  .title-01__inner {
    padding-bottom: calc(2.5rem + 1.875 * (100vw - 20rem) / 61);
  }
}

.no-webp .bem-block-01{
  background-image: url(../img/bem-block-01/1.jpg); }

.bem-block-01 {
  background-color: rgba(0, 0, 0, 0.5);
  /* Черный цвет с непрозрачностью 0.5 */
  background-blend-mode: multiply;
  /* Умножение цветов для затемнения */
  color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@supports (padding-top: clamp( 2.5rem , 1.8852459016rem  +  3.0737704918vw , 4.375rem )) {
  .bem-block-01 {
    padding-top: clamp( 2.5rem , 1.8852459016rem  +  3.0737704918vw , 4.375rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 1.8852459016rem  +  3.0737704918vw , 4.375rem )) {
  .bem-block-01 {
    padding-top: calc(2.5rem + 1.875 * (100vw - 20rem) / 61);
  }
}

@supports (padding-bottom: clamp( 2.5rem , 1.8852459016rem  +  3.0737704918vw , 4.375rem )) {
  .bem-block-01 {
    padding-bottom: clamp( 2.5rem , 1.8852459016rem  +  3.0737704918vw , 4.375rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.8852459016rem  +  3.0737704918vw , 4.375rem )) {
  .bem-block-01 {
    padding-bottom: calc(2.5rem + 1.875 * (100vw - 20rem) / 61);
  }
}

.bem-block-01__container {
  color: #fff;
}

.bem-block-01__card-grup {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

@supports (margin-top: clamp( 2.75rem , 2.5040983607rem  +  1.2295081967vw , 3.5rem )) {
  .bem-block-01__card-grup {
    margin-top: clamp( 2.75rem , 2.5040983607rem  +  1.2295081967vw , 3.5rem );
  }
}

@supports not (margin-top: clamp( 2.75rem , 2.5040983607rem  +  1.2295081967vw , 3.5rem )) {
  .bem-block-01__card-grup {
    margin-top: calc(2.75rem + 0.75 * (100vw - 20rem) / 61);
  }
}

.bem-block-01__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
}

@supports (padding: clamp( 1rem , 0.7131147541rem  +  1.4344262295vw , 1.875rem )) {
  .bem-block-01__card {
    padding: clamp( 1rem , 0.7131147541rem  +  1.4344262295vw , 1.875rem );
  }
}

@supports not (padding: clamp( 1rem , 0.7131147541rem  +  1.4344262295vw , 1.875rem )) {
  .bem-block-01__card {
    padding: calc(1rem + 0.875 * (100vw - 20rem) / 61);
  }
}

.bem-block-01__card-images {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #E0C424;
  margin-bottom: 1.25rem;
}

.bem-block-01__card-title {
  font-family: "Roboto";
  font-weight: 400;
  line-height: 130%;
  min-height: 4.25rem;
  text-align: center;
}

@supports (font-size: clamp( 1.875rem , 1.7520491803rem  +  0.6147540984vw , 2.25rem )) {
  .bem-block-01__card-title {
    font-size: clamp( 1.875rem , 1.7520491803rem  +  0.6147540984vw , 2.25rem );
  }
}

@supports not (font-size: clamp( 1.875rem , 1.7520491803rem  +  0.6147540984vw , 2.25rem )) {
  .bem-block-01__card-title {
    font-size: calc(1.875rem + 0.375 * (100vw - 20rem) / 61);
  }
}

.bem-block-01__card-subtitle {
  line-height: 130%;
  letter-spacing: 0.0625rem;
  text-align: center;
}

@supports (font-size: clamp( 1.125rem , 1.0840163934rem  +  0.2049180328vw , 1.25rem )) {
  .bem-block-01__card-subtitle {
    font-size: clamp( 1.125rem , 1.0840163934rem  +  0.2049180328vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 1.0840163934rem  +  0.2049180328vw , 1.25rem )) {
  .bem-block-01__card-subtitle {
    font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 61);
  }
}

.bem-block-02 {
  background-color: #E0C424;
}

.bem-block-02__card-grup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* @media (max-width: em(1360)) {
  } */
}

@supports (padding-top: clamp( 1.875rem , 1.2602459016rem  +  3.0737704918vw , 3.75rem )) {
  .bem-block-02__card-grup {
    padding-top: clamp( 1.875rem , 1.2602459016rem  +  3.0737704918vw , 3.75rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 1.2602459016rem  +  3.0737704918vw , 3.75rem )) {
  .bem-block-02__card-grup {
    padding-top: calc(1.875rem + 1.875 * (100vw - 20rem) / 61);
  }
}

.bem-block-02__card {
  background-color: #bfa720;
  width: 25rem;
  /* @media (max-width: em(1360)) {
      width: calc(100% / 2 - 16px);
  } */
}

.bem-block-02__images {
  height: 18.75rem;
}

.no-webp .bem-block-02__images-one{
  background-image: url(../img/bem-block-02/1.jpg); }

.no-webp .bem-block-02__images-two{
  background-image: url(../img/bem-block-02/2.jpg); }

.no-webp .bem-block-02__images-three{
  background-image: url(../img/bem-block-02/3.jpg); }

.bem-block-02__info {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -3.125rem;
  height: 10rem;
  text-align: center;
  background-color: #E0C424;
}

.bem-block-02__subtitle {
  font-family: "OpenSans";
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.0625rem;
}

@supports (font-size: clamp( 1.125rem , 1.0840163934rem  +  0.2049180328vw , 1.25rem )) {
  .bem-block-02__subtitle {
    font-size: clamp( 1.125rem , 1.0840163934rem  +  0.2049180328vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 1.0840163934rem  +  0.2049180328vw , 1.25rem )) {
  .bem-block-02__subtitle {
    font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 61);
  }
}

.no-webp .bem-block-03{
  background-image: url(../img/bem-block-03/bg-4.jpg); }

.bem-block-03 {
  background-color: rgba(0, 0, 0, 0.5);
  /* Черный цвет с непрозрачностью 0.5 */
  background-blend-mode: multiply;
  /* Умножение цветов для затемнения */
  color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@supports (padding-top: clamp( 2.5rem , 1.8852459016rem  +  3.0737704918vw , 4.375rem )) {
  .bem-block-03 {
    padding-top: clamp( 2.5rem , 1.8852459016rem  +  3.0737704918vw , 4.375rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 1.8852459016rem  +  3.0737704918vw , 4.375rem )) {
  .bem-block-03 {
    padding-top: calc(2.5rem + 1.875 * (100vw - 20rem) / 61);
  }
}

@supports (padding-bottom: clamp( 2.5rem , 1.8852459016rem  +  3.0737704918vw , 4.375rem )) {
  .bem-block-03 {
    padding-bottom: clamp( 2.5rem , 1.8852459016rem  +  3.0737704918vw , 4.375rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.8852459016rem  +  3.0737704918vw , 4.375rem )) {
  .bem-block-03 {
    padding-bottom: calc(2.5rem + 1.875 * (100vw - 20rem) / 61);
  }
}

.bem-block-03__card-grup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@supports (padding-top: clamp( 1.875rem , 1.2602459016rem  +  3.0737704918vw , 3.75rem )) {
  .bem-block-03__card-grup {
    padding-top: clamp( 1.875rem , 1.2602459016rem  +  3.0737704918vw , 3.75rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 1.2602459016rem  +  3.0737704918vw , 3.75rem )) {
  .bem-block-03__card-grup {
    padding-top: calc(1.875rem + 1.875 * (100vw - 20rem) / 61);
  }
}

.bem-block-03__card {
  max-width: 25rem;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 1rem;
}

@supports (padding: clamp( 1.25rem , 1.0040983607rem  +  1.2295081967vw , 2rem )) {
  .bem-block-03__card {
    padding: clamp( 1.25rem , 1.0040983607rem  +  1.2295081967vw , 2rem );
  }
}

@supports not (padding: clamp( 1.25rem , 1.0040983607rem  +  1.2295081967vw , 2rem )) {
  .bem-block-03__card {
    padding: calc(1.25rem + 0.75 * (100vw - 20rem) / 61);
  }
}

.bem-block-03__card-title {
  font-family: "Inter";
  font-size: 2rem;
  margin-bottom: 1.25rem;
}

.bem-block-03__images {
  width: 15.625rem;
  height: 15.625rem;
  border-radius: 50%;
  background-color: #E0C424;
  margin: 0 auto;
  margin-bottom: 1.25rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bem-block-03__card-img {
  width: 14.375rem;
  height: 14.375rem;
  border-radius: 50%;
}

.bem-block-03__card-subtitle {
  font-family: "Inter";
  font-weight: 700;
  color: #DB545A;
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
}

.bem-block-03__card-text {
  margin-bottom: 1.25rem;
  min-height: 6.25rem;
  line-height: 130%;
  letter-spacing: 0.0625rem;
}

@supports (font-size: clamp( 1.125rem , 1.0840163934rem  +  0.2049180328vw , 1.25rem )) {
  .bem-block-03__card-text {
    font-size: clamp( 1.125rem , 1.0840163934rem  +  0.2049180328vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 1.0840163934rem  +  0.2049180328vw , 1.25rem )) {
  .bem-block-03__card-text {
    font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 61);
  }
}

.promo__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (padding-top: clamp( 2.5rem , 1.8852459016rem  +  3.0737704918vw , 4.375rem )) {
  .bem-block-04 {
    padding-top: clamp( 2.5rem , 1.8852459016rem  +  3.0737704918vw , 4.375rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 1.8852459016rem  +  3.0737704918vw , 4.375rem )) {
  .bem-block-04 {
    padding-top: calc(2.5rem + 1.875 * (100vw - 20rem) / 61);
  }
}

.bem-block-04__card-grup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bem-block-04__card {
  text-align: center;
  width: calc(33.3333333333% - 22px);
}

.bem-block-04__text {
  line-height: 130%;
}

.bem-block-04__promo {
  background-color: #000;
}

.bem-block-04__promo-card {
  max-width: 50%;
  width: 100%;
}

.bem-block-04__promo-text {
  font-family: "Inter";
  font-weight: 700;
  line-height: 130%;
  color: #fff;
}

@supports (font-size: clamp( 2rem , 1.6721311475rem  +  1.6393442623vw , 3rem )) {
  .bem-block-04__promo-text {
    font-size: clamp( 2rem , 1.6721311475rem  +  1.6393442623vw , 3rem );
  }
}

@supports not (font-size: clamp( 2rem , 1.6721311475rem  +  1.6393442623vw , 3rem )) {
  .bem-block-04__promo-text {
    font-size: calc(2rem + 1 * (100vw - 20rem) / 61);
  }
}

.bem-block-04__promo-sp {
  color: #E0C424;
}

.bem-block-04__promo-images {
  max-width: 50%;
  width: 100%;
  overflow: hidden;
}

.bem-block-04__promo-img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.bem-block-05 {
  background-color: #E0C424;
}

.bem-block-05__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.25rem 1fr 0.25rem 1fr 0.25rem 1fr;
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr 0.25rem 1fr 0.25rem 1fr 0.25rem 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 0.25rem;
  grid-auto-flow: row;
      grid-template-areas: "big-one big-one text-two image-three" "big-one big-one image-for text-five" "image-six text-seven big-then big-then" "text-eatch image-nine big-then big-then";
}

.no-webp .bem-block-05__grid-big-one{
  background-image: url(../img/bem-block-05/1.jpg); }

.bem-block-05__grid-big-one {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: big-one;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #fff;
  border-radius: 1rem;
  max-width: 40rem;
  height: auto;
}

.bem-block-05__grid-text-two {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-area: text-two;
}

.no-webp .bem-block-05__grid-image-three{
  background-image: url(../img/bem-block-05/2.jpg); }

.bem-block-05__grid-image-three {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
  grid-area: image-three;
  border-radius: 1rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 20rem;
  height: auto;
}

.no-webp .bem-block-05__grid-image-for{
  background-image: url(../img/bem-block-05/3.jpg); }

.bem-block-05__grid-image-for {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  grid-area: image-for;
  border-radius: 1rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 20rem;
  height: auto;
}

.bem-block-05__grid-text-five {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-area: text-five;
}

.no-webp .bem-block-05__grid-image-six{
  background-image: url(../img/bem-block-05/4.jpg); }

.bem-block-05__grid-image-six {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: image-six;
  border-radius: 1rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 20rem;
  height: auto;
}

.bem-block-05__grid-text-seven {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-area: text-seven;
}

.bem-block-05__grid-text-eatch {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-area: text-eatch;
}

.no-webp .bem-block-05__grid-image-nine{
  background-image: url(../img/bem-block-05/5.jpg); }

.bem-block-05__grid-image-nine {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
  grid-area: image-nine;
  border-radius: 1rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 20rem;
  height: auto;
}

.no-webp .bem-block-05__grid-big-then{
  background-image: url(../img/bem-block-05/6.jpg); }

.bem-block-05__grid-big-then {
  -ms-grid-row: 5;
  -ms-grid-row-span: 3;
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-area: big-then;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
  max-width: 40rem;
  height: auto;
}

.bem-block-05__top-title {
  font-family: "Roboto";
  font-weight: 400;
  line-height: 130%;
  margin-bottom: 1.25rem;
}

@supports (font-size: clamp( 2rem , 1.6721311475rem  +  1.6393442623vw , 3rem )) {
  .bem-block-05__top-title {
    font-size: clamp( 2rem , 1.6721311475rem  +  1.6393442623vw , 3rem );
  }
}

@supports not (font-size: clamp( 2rem , 1.6721311475rem  +  1.6393442623vw , 3rem )) {
  .bem-block-05__top-title {
    font-size: calc(2rem + 1 * (100vw - 20rem) / 61);
  }
}

.bem-block-05__title {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 36px;
  margin-bottom: 1.25rem;
}

.bem-block-05__subtitle {
  font-family: "OpenSans";
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
}

.bem-block-06 {
  background-color: #DB545A;
  color: #fff;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.bem-block-06__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bem-block-06__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 50%;
  width: 100%;
}

.bem-block-06__title {
  font-family: "Inter";
  font-weight: 700;
  line-height: 130%;
}

@supports (font-size: clamp( 1.875rem , 1.7520491803rem  +  0.6147540984vw , 2.25rem )) {
  .bem-block-06__title {
    font-size: clamp( 1.875rem , 1.7520491803rem  +  0.6147540984vw , 2.25rem );
  }
}

@supports not (font-size: clamp( 1.875rem , 1.7520491803rem  +  0.6147540984vw , 2.25rem )) {
  .bem-block-06__title {
    font-size: calc(1.875rem + 0.375 * (100vw - 20rem) / 61);
  }
}

@supports (line-height: clamp( 6.25%rem , 5.6352459016%rem  +  3.0737704918%vw , 8.125%rem )) {
  .bem-block-06__title {
    line-height: clamp( 6.25%rem , 5.6352459016%rem  +  3.0737704918%vw , 8.125%rem );
  }
}

@supports not (line-height: clamp( 6.25%rem , 5.6352459016%rem  +  3.0737704918%vw , 8.125%rem )) {
  .bem-block-06__title {
    line-height: calc(6.25%rem + 1.875% * (100vw - 20rem) / 61);
  }
}

@supports (margin-bottom: clamp( 0.75rem , 0.5860655738rem  +  0.8196721311vw , 1.25rem )) {
  .bem-block-06__title {
    margin-bottom: clamp( 0.75rem , 0.5860655738rem  +  0.8196721311vw , 1.25rem );
  }
}

@supports not (margin-bottom: clamp( 0.75rem , 0.5860655738rem  +  0.8196721311vw , 1.25rem )) {
  .bem-block-06__title {
    margin-bottom: calc(0.75rem + 0.5 * (100vw - 20rem) / 61);
  }
}

.bem-block-06__subtitle {
  line-height: 130%;
  letter-spacing: 0.0625rem;
  max-width: 25rem;
  border-left: solid 2px #fff;
  padding-left: 0.5rem;
}

@supports (font-size: clamp( 1.125rem , 1.0840163934rem  +  0.2049180328vw , 1.25rem )) {
  .bem-block-06__subtitle {
    font-size: clamp( 1.125rem , 1.0840163934rem  +  0.2049180328vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 1.0840163934rem  +  0.2049180328vw , 1.25rem )) {
  .bem-block-06__subtitle {
    font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 61);
  }
}

.bem-block-06__images {
  max-width: 50%;
  width: 100%;
  background-color: #794f45;
  overflow: hidden;
}

.bem-block-06__img {
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
  width: 100%;
}

.bem-block-06__inner li {
  line-height: 130%;
  letter-spacing: 0.0625rem;
}

@supports (margin-bottom: clamp( 0.5rem , 0.2540983607rem  +  1.2295081967vw , 1.25rem )) {
  .bem-block-06__inner li {
    margin-bottom: clamp( 0.5rem , 0.2540983607rem  +  1.2295081967vw , 1.25rem );
  }
}

@supports not (margin-bottom: clamp( 0.5rem , 0.2540983607rem  +  1.2295081967vw , 1.25rem )) {
  .bem-block-06__inner li {
    margin-bottom: calc(0.5rem + 0.75 * (100vw - 20rem) / 61);
  }
}

@supports (font-size: clamp( 1.125rem , 1.0840163934rem  +  0.2049180328vw , 1.25rem )) {
  .bem-block-06__inner li {
    font-size: clamp( 1.125rem , 1.0840163934rem  +  0.2049180328vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 1.0840163934rem  +  0.2049180328vw , 1.25rem )) {
  .bem-block-06__inner li {
    font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 61);
  }
}

.bem-block-07__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bem-block-07__col {
  max-width: 50%;
  width: 100%;
}

.bem-block-07__images {
  overflow: hidden;
}

.bem-block-07__img {
  width: 100%;
  height: auto;
}

.bem-block-07__list {
  font-family: "OpenSans";
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.0625rem;
}

@supports (font-size: clamp( 1.125rem , 1.0840163934rem  +  0.2049180328vw , 1.25rem )) {
  .bem-block-07__list {
    font-size: clamp( 1.125rem , 1.0840163934rem  +  0.2049180328vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 1.0840163934rem  +  0.2049180328vw , 1.25rem )) {
  .bem-block-07__list {
    font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 61);
  }
}

.bem-block-07__list li {
  margin-bottom: 0.75rem;
}

.bem-block-07__btn {
  text-align: center;
}

.bem-block-07__info {
  margin-bottom: -0.1875rem;
  display: inline-block;
  background-color: #E0C424;
  padding: 32px 32px 4px 32px;
  color: #fff;
}

.bem-block-07__flex-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bem-block-07__flex-col-3 {
  max-width: 33%;
  width: 100%;
  text-align: center;
}

.bem-block-07__images {
  margin-bottom: 1.5rem;
}

.bem-block-07__title {
  font-family: "Inter";
  font-weight: 700;
  line-height: 130%;
  color: #E0C424;
}

@supports (font-size: clamp( 1.875rem , 1.7520491803rem  +  0.6147540984vw , 2.25rem )) {
  .bem-block-07__title {
    font-size: clamp( 1.875rem , 1.7520491803rem  +  0.6147540984vw , 2.25rem );
  }
}

@supports not (font-size: clamp( 1.875rem , 1.7520491803rem  +  0.6147540984vw , 2.25rem )) {
  .bem-block-07__title {
    font-size: calc(1.875rem + 0.375 * (100vw - 20rem) / 61);
  }
}

.bem-block-07__text {
  margin: 0 auto;
  max-width: 70%;
  font-family: "OpenSans";
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.0625rem;
}

@supports (font-size: clamp( 1.125rem , 1.0840163934rem  +  0.2049180328vw , 1.25rem )) {
  .bem-block-07__text {
    font-size: clamp( 1.125rem , 1.0840163934rem  +  0.2049180328vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 1.0840163934rem  +  0.2049180328vw , 1.25rem )) {
  .bem-block-07__text {
    font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 61);
  }
}

.bem-form-01 {
  background-color: #99aef1;
}

.bem-form-01__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

.bem-form-01__col {
  max-width: 50%;
  width: 100%;
  border: 1px solid #000;
}

.form {
  max-width: 34.375rem;
  margin: 0 auto;
  color: #fff;
}

.form__title {
  font-family: "Inter";
  font-weight: 700;
  line-height: 130%;
  text-align: center;
}

@supports (font-size: clamp( 1.875rem , 1.7520491803rem  +  0.6147540984vw , 2.25rem )) {
  .form__title {
    font-size: clamp( 1.875rem , 1.7520491803rem  +  0.6147540984vw , 2.25rem );
  }
}

@supports not (font-size: clamp( 1.875rem , 1.7520491803rem  +  0.6147540984vw , 2.25rem )) {
  .form__title {
    font-size: calc(1.875rem + 0.375 * (100vw - 20rem) / 61);
  }
}

@supports (padding-bottom: clamp( 2.5rem , 1.8852459016rem  +  3.0737704918vw , 4.375rem )) {
  .form__title {
    padding-bottom: clamp( 2.5rem , 1.8852459016rem  +  3.0737704918vw , 4.375rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.8852459016rem  +  3.0737704918vw , 4.375rem )) {
  .form__title {
    padding-bottom: calc(2.5rem + 1.875 * (100vw - 20rem) / 61);
  }
}

.form__item {
  padding: 0px 0px 12px 0px;
}

.form__ladel {
  display: block;
  margin: 0px 0px 12px 0px;
}

.form__input {
  height: 3.125rem;
  padding: 0px 24px 0px 24px;
  width: 100%;
}

.form textarea.form__input {
  min-height: 7.5rem;
  resize: vertical;
  padding: 1.5rem;
}

.options {
  padding: 10px 0px 0px 0px;
}

.options__item {
  margin: 0px 10px 0px 0px;
}

.options__input {
  display: none;
}

.options__input:checked + .options__label::after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__label {
  font-size: 1rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  line-height: 140%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.options__label::before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.5rem;
          flex: 0 0 1.5rem;
  height: 1.5rem;
  background-color: #fff;
  border-radius: 50%;
  margin: 0px 10px 0px 0px;
}

.options__label::after {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
  background-color: #E0C424;
  border-radius: 50%;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

/* .select {
    height: rem(50);
    width: 100%;
    @include br-1;
    padding: 0px 20px 0px 20px;
} */

body {
  background-color: #fff;
  color: #000;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 80rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.5rem;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
  border: 1px solid #eee;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox:not(:last-child) {
  margin-bottom: 0.3125em;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.checkbox__input:focus + .checkbox__label:before {
  -webkit-box-shadow: 0 0 5px #000;
          box-shadow: 0 0 5px #000;
}

.checkbox__input:checked + .checkbox__label:before {
  background: #E0C424;
}

.checkbox__label {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  gap: 10px;
}

.checkbox__label:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  width: 20px;
  height: 20px;
  border: 1px solid #a7a9ac;
}

.select {
  position: relative;
}

.select__body {
  position: relative;
}

.select__title {
  color: inherit;
  text-align: left;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.875rem;
  padding: 0 0.9375rem;
  gap: 0.625rem;
}

.select__value > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__value:after {
  content: "";
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10px;
          flex: 0 0 10px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._select-open .select__value:after {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select__value._select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: 0.5;
}

.select__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  padding: 10px 0px 5px 0px;
}

.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
}

.select__option {
  width: 100%;
  display: block;
  text-align: left;
  cursor: pointer;
  padding: 5px 15px;
  color: inherit;
}

.select__option._select-selected {
  background-color: #eee;
}

.select__row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select._select-open {
  z-index: 5;
}

._select-tag {
  cursor: pointer;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  background-color: #000;
}

.header__container {
  min-height: 5rem;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.footer {
  background-color: #000;
}

.footer__container {
  min-height: 5rem;
}

@media (max-width: 71.875em) {
  .bem-block-05__grid {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (minmax(250px, 1fr))[8];
    grid-template-rows: repeat(8, minmax(250px, 1fr));
        grid-template-areas: "big-one big-one" "big-one big-one" "text-two image-three" "image-for text-five" "big-then big-then" "big-then big-then" "image-six text-seven" "text-eatch image-nine";
  }

  .bem-block-05__grid-big-one {
    max-width: 100%;
  }

  .bem-block-05__grid-image-three {
    max-width: 100%;
  }

  .bem-block-05__grid-image-for {
    max-width: 100%;
  }

  .bem-block-05__grid-image-six {
    max-width: 100%;
  }

  .bem-block-05__grid-image-nine {
    max-width: 100%;
  }

  .bem-block-05__grid-big-then {
    max-width: 100%;
  }
  .bem-block-05__grid-big-one {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  .bem-block-05__grid-text-two {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .bem-block-05__grid-image-three {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
  .bem-block-05__grid-image-for {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
  .bem-block-05__grid-text-five {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
  }
  .bem-block-05__grid-image-six {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }
  .bem-block-05__grid-text-seven {
    -ms-grid-row: 7;
    -ms-grid-column: 2;
  }
  .bem-block-05__grid-text-eatch {
    -ms-grid-row: 8;
    -ms-grid-column: 1;
  }
  .bem-block-05__grid-image-nine {
    -ms-grid-row: 8;
    -ms-grid-column: 2;
  }
  .bem-block-05__grid-big-then {
    -ms-grid-row: 5;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
}

@media (max-width: 61.99875em) {
  .hero-01__info {
    margin-left: 0;
  }

  .bem-block-01__card-grup {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .bem-block-03__card-grup {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .bem-block-06__images {
    background-color: rgba(0, 0, 0, 0.5);
    /* Черный цвет с непрозрачностью 0.5 */
    background-blend-mode: multiply;
    /* Умножение цветов для затемнения */
    color: #ffffff;
    margin-bottom: 1.5rem;
  }

  .bem-block-06__images:not(:last-child) {
    margin-bottom: 0;
  }

  .bem-block-07__flex {
    display: block;
  }

  .bem-block-07__col {
    max-width: 100%;
  }

  .bem-block-07__images {
    margin-bottom: 2rem;
  }
}

@media (max-width: 59.375em) {
  .promo__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .bem-block-04__promo-card {
    max-width: 100%;
  }

  .bem-block-04__promo-text {
    max-width: 100%;
  }

  .bem-block-04__promo-images {
    max-width: 100%;
  }
}

@media (max-width: 51.875em) {
  .border-0xxx-3 {
    border-top-right-radius: 0rem;
  }

  .bem-block-07__info {
    display: block;
  }

  .bem-block-07__flex-3 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .bem-block-07__flex-col-3 {
    max-width: 50%;
    margin-bottom: 1.5rem;
  }

  .bem-block-07__flex-col-3:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 47.99875em) {
  .bem-block-01__card-subtitle {
    border-bottom: 1px solid #fff;
    padding-bottom: 20px;
  }

  .bem-block-04__card {
    width: 100%;
  }

  .bem-block-06__flex {
    display: block;
    position: relative;
  }

  .bem-block-06__info {
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }

  .bem-block-06__title {
    line-height: normal;
  }

  .bem-block-06__images {
    max-width: 100%;
  }
}

@media (max-width: 37.5em) {
  .bem-block-01__card-grup {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 37.5625em) {
  .bem-block-01__card {
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 34.375em) {
  .bem-block-05__grid {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (minmax(300px, 1fr))[10];
    grid-template-rows: repeat(10, minmax(300px, 1fr));
        grid-template-areas: "big-one" "text-two" "image-three" "text-five" "image-for" "text-seven" "image-six" "text-eatch" "image-nine" "big-then";
  }
  .bem-block-05__grid-big-one {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .bem-block-05__grid-text-two {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .bem-block-05__grid-image-three {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .bem-block-05__grid-image-for {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .bem-block-05__grid-text-five {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
  .bem-block-05__grid-image-six {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }
  .bem-block-05__grid-text-seven {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
  }
  .bem-block-05__grid-text-eatch {
    -ms-grid-row: 8;
    -ms-grid-column: 1;
  }
  .bem-block-05__grid-image-nine {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
  }
  .bem-block-05__grid-big-then {
    -ms-grid-row: 10;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
}

@media (max-width: 32.5em) {
  .bem-block-07__flex-col-3 {
    max-width: 100%;
  }
}

@media (max-width: 29.99875em) {
  .hero-01__info {
    max-width: 100%;
  }
}

@media (any-hover: hover) {
  .select__option:hover {
    background: #d9d9d9;
  }
}

.webp .hero-01{ background-image: url(../img/hero-01/1.webp); }

.webp .bem-block-01{ background-image: url(../img/bem-block-01/1.webp); }

.webp .bem-block-02__images-one{ background-image: url(../img/bem-block-02/1.webp); }

.webp .bem-block-02__images-two{ background-image: url(../img/bem-block-02/2.webp); }

.webp .bem-block-02__images-three{ background-image: url(../img/bem-block-02/3.webp); }

.webp .bem-block-03{ background-image: url(../img/bem-block-03/bg-4.webp); }

.webp .bem-block-05__grid-big-one{ background-image: url(../img/bem-block-05/1.webp); }

.webp .bem-block-05__grid-image-three{ background-image: url(../img/bem-block-05/2.webp); }

.webp .bem-block-05__grid-image-for{ background-image: url(../img/bem-block-05/3.webp); }

.webp .bem-block-05__grid-image-six{ background-image: url(../img/bem-block-05/4.webp); }

.webp .bem-block-05__grid-image-nine{ background-image: url(../img/bem-block-05/5.webp); }

.webp .bem-block-05__grid-big-then{ background-image: url(../img/bem-block-05/6.webp); }